<form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()" class="card-container">
    <div class="row form-group card">
        <h2>Dados do paciente</h2>
        <!-- Nome -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>
                    Primeiro nome:
                </label>
                <input class="form-control" type="text" formControlName="firstName">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>
                    Sobrenome:
                </label>
                <input class="form-control" type="text" formControlName="lastName">
            </div>
        </div>
        <!-- Idade, Email e Telefone -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="idade">
                    Idade:
                </label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input class="form-control" id="idade" type="number" formControlName="age">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="email">
                    Email:
                </label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input class="form-control" type="email" formControlName="mail" id="mail">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="phone">
                    Telefone:
                </label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input class="form-control" type="number" formControlName="phone" id="phone">
            </div>
        </div>
    </div>
    <!-- Endereço -->
    <div class="row form-group card" formGroupName="address">
        <h3>Endereço</h3>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="street">
                    Rua:
                </label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input class="form-control" type="text" formControlName="street" id="street">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="num">
                    Número:
                </label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input class="form-control" type="number" onkeydown="return event.keyCode !== 69" formControlName="num"
                    id="num">
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="city">
                    Cidade:
                </label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input class="form-control" type="text" formControlName="city" id="city">
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="state">
                    Estado:
                </label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input class="form-control" type="text" formControlName="state" id="state">
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="zip">
                    CEP:
                </label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input class="form-control" type="number" formControlName="zip" id="zip">
            </div>
        </div>
    </div>
    <!-- Tipo Sanguíneo -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="card">
            <label for="bloodType">Tipo Sanguíneo</label>
            <select class="form-control" id="bloodType" formControlName="bloodType">
                <option *ngFor="let tipo of tipos" [value]="tipo">{{ tipo }}</option>
            </select>
        </div>
    </div>
    <!-- submit -->
    <div>
        <button class="center-block circle-link" type="submit" [disabled]="!cadastroForm.valid">Salvar</button>
    </div>
</form>