<div class="login-box card-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="row form-group card center-block">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>
                    Nome:
                </label>
                <input class="form-control" type="text" formControlName="name">
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>
                    Senha:
                </label>
                <input class="form-control" type="password" formControlName="password">
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-block">
                <button class="center-block circle-button" type="submit" [disabled]="!loginForm.valid">Entrar</button>
            </div>
        </div>
    </form>
</div>